* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarelo-lapelota: #F0B806;
  --azul-escuro: #041833;
  --cor-fonte-principal: #041833;
  --branco: #FFF;
  --fonte-principal: 'Work Sans', sans-serif;
  


  font-family: var(--fonte-principal);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
  margin: 0;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}

  body {
  
    background-image: url('../public/img/fundo2.png');
    background-size: cover;
  }